*{
  margin: 0 ;
  box-sizing: border-box;
  padding: 0;
 
}
.parent {
  display: flex;
   flex-wrap: wrap;  
   margin: auto; 
  }
  
  .child {
    /* percent per item in row. 
    33% = limit to 3 per row. */
    
     flex: 1 0 33%; 
    margin: 5px;
  }
 

  .child-row{
    flex: 33%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items :flex-start

  }
 
  .formlabel{
    font-weight: 700 !important;
    color: rgb(68, 37, 37) !important;
    width: 277px;
    display: inline-block;
    margin: 15px 0;
    margin-right: 1px
  }

  .chart{
    display: flex;
    flex-flow:column wrap ;
    flex-basis:67%;
    margin: 15px 0;
    }

  .checkMargin {
    margin-left: 100px;
  }